<!doctype html>
<html ng-app="movieApp">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">

  </head>
  <body ng-controller="MovieCtrl as ctrl">

    <div class="app-wrap">
      <header class='navbar navbar-inverse'>
        <div class="wrapper">
          <a ui-sref="movies" class="navbar-brand">
            Movie App
          </a>
        </div>
        <div>
          <a href="https://github.com/ninsy" class="nav navbar-nav navbar-right">
            <img class="navbar pull-right" src='GitHub-Mark.png'/>
          </a>
        </div>
      </header>

    <div class="container-fluid">

      <div class="col-sm-4">
        <div ng-if="ctrl.isSelected" class="details">
          <p>Price: {{ctrl.selectedMovie.price}}</p>
          <p>Duration: {{ctrl.selectedMovie.duration}}</p>
          <p>Available hours:</p>
          <div ng-repeat="hour in ctrl.selectedMovie.time">
            {{hour}}
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div
          ng-repeat="movie in ctrl.movies"
          ng-class="{'active':ctrl.isSelectedMovie(movie.name)}">


            <a href="#" ng-click="ctrl.setCurrentMovie(movie)">
              <button class="btn btn-default btn-block">
                {{movie.name}}
              </button>
            </a>

        </div>
      </div>

    </div>


    </div>


  </body>

      <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
      <script src="vendor/angular-ui-router.min.js"></script>

      <script src="script.js"></script>

</html>
