*, *:before, *:after {box-sizing:  border-box !important;}


html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Montserrat, monospace;
  background-color: #442F9C;
  color: white;
}

.app-wrap {
  padding: 10px;
  height: 100%;
  width:100%;
  border: 10px solid #442F86;
}


a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a:hover {
  color: gray;
}
img {
  background-color: #442F9C;
  width: 10%;
  height: 10%;
  margin-top: 30px;
  margin-right: 60px;
}

.navbar-brand {
  font-size: 2em;
  margin: 30px 0;
}

.container-fluid {
  margin-top: 100px;
  font-size: 1.5em;
  border-radius: 1em;
  border: 1px solid white;
  height: 50%;
}

.col-sm-4, .col-sm-8 {
  padding: 20px;
}

.btn {
  margin: 10px 0;
  background: none;
  padding: 10px 0;
  color: white;
}

.active {
  background-color: red;
}
